<div class="filter-wrap">
    <div class="filter-list">
      Sort by price:
      <%= link_to ("From low to high"), products_path(sort: 'lowPrice'), class:'btn-custom-light' %>
      <i>or</i>
      <%= link_to ("From high to low"), products_path(sort: 'highPrice'), class:'btn-custom-light' %>
    </div>
    <div class="filter-list">
      Sort by name:
      <%= link_to ("A-Z"), products_path(sort: 'alphabetAsc'), class:'btn-custom-light' %>
      <i>or</i>
      <%= link_to ("Z-A"), products_path(sort: 'alphabetDesc'), class:'btn-custom-light' %>
    </div>
    <div class="filter-list">
      <%= form_with url: products_path, method: :get, local: true do |form| %>
        <%= form.number_field :min, class: "form-input-number",
                            placeholder: "min price", value:"0"%>
        <%= form.number_field :max, class: "form-input-number",
                            placeholder: "max price" %>
        <%= submit_tag "Filter", class: 'btn btn-outline-dark' do %>
          <i class="fa fa-search" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
  </div>

<div class="row db-6">
<% @category.products.each do |product| %>
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= product.title %> </h5>
        <p class="card-text"><%= product.description %></p>
        <p class="badge bg-light text-dark"><%= number_to_currency(product.price, unit: "UAH", separator: ",", delimiter: " ", format: "%n %u") %></p>
        <a href="#" class="btn btn-success">Детальніше</a>
      </div>
  </div>
</div> 

<% end %>

<div class="digg_pagination" style="text-align: center;">
    <%= will_paginate @products, :container => false %>
</div>



