<script>
    $( document ).ready(function() {
        $("#<%= params[:sort] %>").addClass("active");
        <% if @category.present? %>
        $("#<%= @category.title %>").addClass("active");
        <% end %>
    })
</script>


<!DOCTYPE html>

<html>
  <head>
    <title>TechnoBoom</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
 <%= render 'layouts/header'%>
<main class="container pt-5">
        <div class="row pt-5">
          <div class="col-sm-3 col-12">
                    <nav class="nav flex-column">

                      <% Category.all.each do |category| %>
                          <%= active_link_to category.title, category_path(category), class: "list-group-item list-group-item-action list-group-item-success"%>
                      <% end %>
           <!--<a class="nav-link active" aria-current="page" href="#">Active</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->


          <div class="input-group mb-3">
      

            <div class="filter-list">
      Sort by price:
      <%= link_to ("From low to high"), products_path(sort: 'lowPrice'), class:'btn-custom-light' %>
      <i>or</i>
      <%= link_to ("From high to low"), products_path(sort: 'highPrice'), class:'btn-custom-light' %>
    </div>
    <div class="filter-list">
      Sort by name:
      <%= link_to ("A-Z"), products_path(sort: 'alphabetAsc'), class:'btn-custom-light' %>
      <i>or</i>
      <%= link_to ("Z-A"), products_path(sort: 'alphabetDesc'), class:'btn-custom-light' %>
    </div>
    <div class="filter-list">
      <%= form_with url: products_path, method: :get, local: true do |form| %>
        <%= form.number_field :min, class: "form-input-number",
                            placeholder: "min price", value:"0"%>
        <%= form.number_field :max, class: "form-input-number",
                            placeholder: "max price" %>
        <%= submit_tag "Filter", class: 'btn btn-outline-dark' do %>
          <i class="fa fa-search" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
</div> 

             <div class="price">

          </nav>
          </div>

          <div class="col-sm-9 col-12">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img src="https://i.ytimg.com/vi/o3rodmgjBV8/maxresdefault.jpg" class="d-block w-100">
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                  <img src="https://g-store.com.ua/wp-content/uploads/2020/10/iphone-12-pro-kypit.png" class="d-block w-100">
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                  <img src="https://mobidevices.ru/images/2018/07/Apple-MacBook-2018.jpg" class="d-block w-100">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>
            <p></p>
            <div>
            </div>
        

            <%= yield %>
          </div>
        </div>

      </main><!-- /.container -->


  </body>
</html>

